@page "/"
@using NewPortfolio.Data.Profile;

<PageTitle>Arthur Portfolio</PageTitle>


<div class="profile-pic-div" >
	<img src="@linkLinkedinPicture" alt="linkedin-picture" class="profile-pic"/>
</div>

<div class="info-description">
	<div class="info-paragraph">
		Olá, meu nome é @info.Name. Com @info.Age anos,
		sou um desenvolvedor FullStack, Engenheiro da Computação, apaixonado por transformar ideias em realidade.
		Minha jornada na área de desenvolvimento começou há alguns anos,
		e desde então tenho mergulhado de cabeça em diversos projetos.

	</div>
	<div class="info-paragraph">
		Minhas principais áreas de expertise incluem C#, SQL, HTML e CSS.
		Com dedicação e curiosidade insaciável,
		estou sempre buscando expandir meu conhecimento e explorar novas tecnologias para aprimorar minhas habilidades.
	</div>
	<div class="info-paragraph">
		Neste portfólio, convido você a explorar meus conhecimentos, junto com uma seleção dos projetos que eu desenvolvi.
		Além da programação, tenho um grande interesse em colaboração e aprendizado em equipe.
		Acredito que as melhores soluções surgem quando diferentes mentes se unem em busca de um objetivo comum.
	</div>
	<div class="info-paragraph">
		Agradeço por visitar meu portfólio e ficarei feliz em receber seu feedback e responder a qualquer pergunta que você possa ter.
		Atenciosamente, @info.Name.
	</div>
</div>

<div class="section-title">
	<div>Desenvolvimento Web FullStack com C# e Docker</div>
</div>

<div class="icons-div">
	<div>
		<img class="language-icons" alt="icone-csharp" src="@linkIconeCSharp" />
	</div>
	<div>
		<img class="language-icons" alt="icone-sql" src="@linkIconeSql" />
	</div>
	<div>
		<img class="language-icons" alt="icone-html" src="@linkIconeHtml" />
	</div>
	<div>
		<img class="language-icons" alt="icone-css" src="@linkIconeCss" />
	</div>
	<div>
		<img class="language-icons" alt="icone-docker" src="@linkIconeDocker" />
	</div>
	<div>
		<img class="language-icons" alt="icone-blazor" src="@linkIconeBlazor" />
	</div>
</div>

<div class="other-categories-div">
	<div class="section-div">
		<div class="section-title">
			Frameworks
		</div>

		<div class="lists-div">
			<ul>
				<li>EntityFramework</li>
				<li>Bootstrap</li>
			</ul>
		</div>
	</div>
	<div class="section-div">
		<div class="section-title">
			Bibliotecas
		</div>

		<div class="lists-div">
			<ul>
				<li>Serilog</li>
				<li>XUnit</li>
				<li>Dapper</li>
				<li>FluentAssertion</li>
				<li>FluentValidation</li>
				<li>Redis</li>
			</ul>
		</div>
	</div>
	<div class="section-div">
		<div class="section-title">
			Outras Categorias (Conceitos e Práticas)
		</div>

		<div class="lists-div">
			<ul>
				<li>Rest API</li>
				<li>UnitTests</li>
				<li>SOLID</li>
				<li>KISS</li>
				<li>YAGNI</li>
				<li>Clean Architecture</li>
			</ul>
		</div>
	</div>
</div>

<div class="section-title">
	Competências
</div>
<div class="competencias-list-div">
	<div class="lists-div">
		<ul>
			<li>Inglês (Avançado)</li>
			<li>Engenheiro da Computação - UNIFEV (Centro Universitário de Votuporanga)</li>
		</ul>
	</div>
</div>

<div class="section-title">
	Meus projetos
</div>
<div class="projects-div">
	<div>
		<div>
			Roadmaps
		</div>
		<div>
			Print do projeto com link para pagina com detalhes
		</div>
	</div>
	<div>
		<div>
			Antigo portfólio
		</div>
		<div>
			Print do projeto com link para pagina com detalhes
		</div>
	</div>
	<div>
		<div>
			NetCore
		</div>
		<div>
			Print do projeto com link para pagina com detalhes
		</div>
	</div>
</div>
<div class="projects-div">
	<div>
		<div>
			Clinica App
		</div>
		<div>
			Print do projeto com link para pagina com detalhes
		</div>
	</div>
</div>

<div class="section-title" id="contact-section">
	Contato
</div>
<div class="contato-div">
	<div>
		<div class="contato-info-div">
			<div>
				<img class="contact-icon" alt="whatsapp-icon" src="@linkIconeWhatsapp" />
			</div>
			<div class="d-flex justify-content-evenly">
				<div class="contact-section-title">
					Whatsapp:
				</div>
				<div>
					@info.Number
				</div>
			</div>
		</div>
		<div class="contato-info-div">
			<div>
				<img class="contact-icon" alt="github-icon" src="@linkIconeGithub" />
			</div>
			<a href="@info.GithubLink" class="link">
				Github
			</a>
		</div>
	</div>
	<div>
		<div class="contato-info-div">
			<div>
				<img class="contact-icon" alt="email-icon" src="@linkIconeEmail" />
			</div>
			<div class="d-flex justify-content-evenly">
				<div class="contact-section-title">
					Email: 
				</div>
				<div>
					@info.Email
				</div>
			</div>
		</div>
		<div class="contato-info-div">
			<div>
				<img class="contact-icon" alt="linkedin-icon" src="@linkIconeLinkedin" />
			</div>
			<a href="@info.LinkedinLink" class="link">
				Linkedin
			</a>
		</div>
	</div>
</div>

@code 
{
	Info info = new Info();

	private const string linkLinkedinPicture = "https://media.licdn.com/dms/image/D4D03AQFBfvqc9GSVpg/profile-displayphoto-shrink_800_800/0/1665262332486?e=1697673600&v=beta&t=rhQ3i0gYxoewWG7NSEIu2ofdAhF_MmYndpA3taUl5bg";

	private const string linkIconeCSharp = "https://static-00.iconduck.com/assets.00/c-sharp-c-icon-1822x2048-wuf3ijab.png";
	private const string linkIconeSql = "https://cdn-icons-png.flaticon.com/512/4299/4299956.png";
	private const string linkIconeHtml = "https://cdn-icons-png.flaticon.com/512/919/919827.png";
	private const string linkIconeCss = "https://cdn-icons-png.flaticon.com/512/919/919826.png";
	private const string linkIconeDocker = "https://cdn-icons-png.flaticon.com/512/5969/5969059.png";
	private const string linkIconeBlazor = "https://devblogs.microsoft.com/dotnet/wp-content/uploads/sites/16/2019/04/BrandBlazor_nohalo_1000x.png";

	private const string linkIconeWhatsapp = "https://cdn-icons-png.flaticon.com/512/1384/1384023.png";
	private const string linkIconeGithub = "https://cdn-icons-png.flaticon.com/512/25/25231.png";
	private const string linkIconeEmail = "https://cdn-icons-png.flaticon.com/512/542/542638.png";
	private const string linkIconeLinkedin = "https://cdn-icons-png.flaticon.com/512/1384/1384014.png";
}